<%- include('partials/header') %>

<div class="container">
  <form action="/users/signup" method="post">
    <div class="card" id="signupform" >
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="name" name="username" class="form-control" id="username-input"  <% if(formData.username && formData.username.value) { %>
          value="<%- formData.username.value%>" <% } %> placeholder="example.'Darko G'"> 
          <% if(formData.username && !formData.username.valid) { %>
            <div class="text-danger mt-1 ms-2">
                <small><%- formData.username.errorMsg%></small>
            </div>
        <% } %>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="email-input" <% if(formData.email && formData.email.value) { %>
          value="<%- formData.email.value%>" <% } %> placeholder="example@gmail.com">
        <% if(formData.email && !formData.email.valid) { %>
          <div class="text-danger mt-1 ms-2">
              <small><%- formData.email.errorMsg%></small>
          </div>
      <% } %>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password-input" <% if(formData.password && formData.password.value) { %>
          value="<%- formData.password.value%>" <% } %> placeholder="example.'Use multiple diffrent characters for password'">
        <% if(formData.password && !formData.password.valid) { %>
          <div class="text-danger mt-1 ms-2">
              <small><%- formData.password.errorMsg%></small>
          </div>
      <% } %>
        </div>
        <div class="mb-3">
          <label for="Repeat password" class="form-label">Repeat Password</label>
          <input type="password" name="repeatPassword" class="form-control" id="repeat-password-input" <% if(formData.repeatPassword && formData.repeatPassword.value) { %>
            value="<%- formData.repeatPassword.value%>" <% } %> placeholder="Repeat the same password">
          <% if(formData.repeatPassword && !formData.repeatPassword.valid) { %>
            <div class="text-danger mt-1 ms-2">
                <small><%- formData.repeatPassword.errorMsg%></small>
            </div>
        <% } %>
        </div>
          <div class="text-right">
          <button type="submit" class="btn btn-primary" id="signup-button">Sign Up</button>
        </div>
    </div>
 </form>
</div>

<%- include('partials/footer') %>
